.open-app,
.contract-app,
.expand-app,
.close-app {
    border: 5px solid blue;
    background-color: rgb(200, 200, 200);
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    position: fixed;
    transform-origin: center center;
}

.open-app {
    animation: open-app 0.3s;
}

@keyframes open-app {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.contract-app {
    animation: contract-app 0.3s;
}

@keyframes contract-app {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.expand-app {
    height: 93vh !important;
    width: 100vw !important;
    top: 0 !important;
    left: 0 !important;
    animation: expand-app 0.3s;
}

@keyframes expand-app {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.close-app {
    animation: close-app 0.3s;
}

@keyframes close-app {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(0);
        opacity: 0;
    }
}

.title-bar {
    height: auto;
    width: 100%;
    padding: 0.5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: blue;
    color: white;
}

.app-name-box {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-controls-box {
    height: 100%;
    width: fit-content;
}

.app-control {
    border: none;
    height: 100%;
    width: auto;
    padding: 0.5vh;
    cursor: pointer;
    font-weight: bold;
}

#contract-button {
    background-color: yellow;
    color: black;
}

#expand-button {
    background-color: green;
    color: white;
}

#close-button {
    background-color: red;
    color: white;
}