.browser-app {
    height: 70vh;
    width: 50vw;
    top: 10vh;
    left: 10vw;
}

.search-bar-box {
    height: auto;
    width: 100%;
    padding: 0.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar-box #search-bar {
    height: auto;
    width: 90%;
    padding: 0.5vh;
    outline: none;
}

.search-bar-box #search-button {
    height: auto;
    width: 10%;
    padding: 0.5vh;
    cursor: pointer;
}

#tabs-box {
    height: auto;
    width: 100%;
    padding: 0.5vh;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5vw;
}

#tabs-box #tabs-list {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5vw;
    overflow: auto;
}

#tabs-list #tab-box {
    height: 100%;
    width: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#tab-box #tab {
    height: 100%;
    width: 7vw;
    text-align: center;
    padding: 0.5vh;
}

#tab:hover {
    background-color: gray;
}

#tab-box .close-tab-button {
    height: 100%;
    width: 3vw;
    display: "flex";
    align-items: "center";
    justify-content: "center";
}

#tabs-box #new-tab-button {
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 100%;
    width: 3vw;
    display: "flex";
    align-items: "center";
    justify-content: "center";
}

.bookmarks-box {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.3vw;
}

.bookmarks-box button {
    height: auto;
    min-width: 5vw;
    padding: 0.5vh;
    cursor: pointer;
}

#search-results {
    height: 60vh;
    width: 100%;
    flex: 1;
    background-color: white;
}