* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1vw;
    font-family: 'Times New Roman';
}

body {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.006);
    background-image: url("Images/Lock\ Screen.jpg");
    background-size: cover;
}

#lock-screen {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.700);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    height: 30vh;
    width: 30vw;
    padding: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    flex-direction: column;
}

form h1 {
    font-size: 2vw;
}

form input {
    border: none;
    outline: none;
    height: auto;
    width: auto;
    padding: 0.5rem;
}

@keyframes show-home-screen {
    from {
        height: 100%;
        opacity: 1;
    }

    to {
        height: 0%;
        opacity: 0;
    }
}

@keyframes show-error {

    from {
        margin-left: 4rem;
    }

    to {
        margin-right: 2rem;
    }
}