* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1vw;
    font-family: 'Arial';
}

body {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.006);
    background-image: url("Pictures/Wallpaper.jpg");
    background-size: cover;
    user-select: none;
}

#lock-screen {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.700);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    height: 30vh;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

form #user-img-box {
    border-radius: 50%;
    height: 10vh;
    width: auto;
}

#user-img-box img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

form input {
    border: none;
    outline: none;
    height: auto;
    width: auto;
    padding: 0.5rem;
}

@keyframes show-home-screen {
    from {
        height: 100%;
        opacity: 1;
    }

    to {
        height: 0%;
        opacity: 0;
    }
}

@keyframes show-error {

    from {
        margin-left: 4rem;
    }

    to {
        margin-right: 4rem;
    }
}

.taskbar-box {
    height: 7vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
}

.taskbar {
    border-radius: 15px;
    height: 100%;
    width: fit-content;
    background-color: rgba(0, 0, 250, 0.50);
    margin: auto;
    padding: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.icon-box {
    height: 5vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vh;
    flex-direction: column;
    cursor: pointer;
}

.icon {
    height: 5vh;
    width: auto;
}

.desktop-icon-box {
    height: 100%;
    width: fit-content;
    padding: 2vw;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 7vh;
    flex-direction: column;
}